{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ account.name }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Summary</a></li>
      <li class="nav-tab"><a href="#tab-3">Info</a></li>
      <li class="nav-tab"><a href="#tab-4">Data</a></li>
      <li class="nav-tab"><a href="#tab-5">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-summary">
	{% for bldg, meter_data_curr, pie_data_curr, meter_data_prev, pie_data_prev in bldg_data %}
    <h2><a href="/{{ account.id }}/buildings/{{ bldg.id }}" title="{{ bldg.name }}">{{ bldg.name }}</a></h2>
    <div class="row">
		<div class="onecol-two prev">
	    {% if pie_data_prev %}
			  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data_prev %}
			  <div id="{{ bldg.id }}-pie-cost-by-meter-prev" style="display: inline-block; width: 49%;"></div>
			  <script>
			  addChart([
				'{{ bldg.id }}-pie-cost-by-meter-prev',
				'PieChart',
				{{ cost_by_meter|safe }},
				{title: 'Cost by Meter - Previous Month'},
				'PieChart'
			  ]);
			  </script>
			  {% empty %}
				<div id="{{ bldg.id }}-pie-cost-by-meter-prev">{{ bldg.id }}-pie-cost-by-meter-prev2</div>
			  {% endfor %}
	    {% else %}
			<div id="{{ bldg.id }}-pie-cost-by-meter-prev" style="display: inline-block; width: 49%;">{{ bldg.id }}-pie-cost-by-meter-prev3</div>
		{% endif %}
	    {% if pie_data_curr %}
			  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data_curr %}
			  <div id="{{ bldg.id }}-pie-cost-by-meter-curr" style="display: inline-block; width: 49%;"></div>
			  <script>
			  addChart([
				'{{ bldg.id }}-pie-cost-by-meter-curr',
				'PieChart',
				{{ cost_by_meter|safe }},
				{title: 'Cost by Meter - Latest Month'},
				'PieChart'
			  ]);
			  </script>
			  {% empty %}
				<div id="{{ bldg.id }}-pie-cost-by-meter-curr">{{ bldg.id }}-pie-cost-by-meter-curr2</div>
			  {% endfor %}
	    {% else %}
			<div id="{{ bldg.id }}-pie-cost-by-meter-curr" style="display: inline-block; width: 49%;">{{ bldg.id }}-pie-cost-by-meter-curr3</div>
		{% endif %}
	    {% if pie_data_prev %}
			  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data_prev %}
			  <div id="{{ bldg.id }}-pie-cost-by-type-prev" style="display: inline-block; width: 49%;"></div>
			  <script>
			  addChart([
				'{{ bldg.id }}-pie-cost-by-type-prev',
				'PieChart',
				{{ cost_by_type|safe }},
				{title: 'Cost by Type - Previous Month'},
				'PieChart'
			  ]);
			  </script>
			  {% empty %}
				<div id="{{ bldg.id }}-pie-cost-by-type-prev">{{ bldg.id }}-pie-cost-by-type-prev2</div>
			  {% endfor %}
	    {% else %}
			<div id="{{ bldg.id }}-pie-cost-by-type-prev" style="display: inline-block; width: 49%;">{{ bldg.id }}-pie-cost-by-type-prev3</div>
		{% endif %}
	    {% if pie_data_curr %}
			  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data_curr %}
			  <div id="{{ bldg.id }}-pie-cost-by-type-curr" style="display: inline-block; width: 49%;"></div>
			  <script>
			  addChart([
				'{{ bldg.id }}-pie-cost-by-type-curr',
				'PieChart',
				{{ cost_by_type|safe }},
				{title: 'Cost by Type - Latest Month'},
				'PieChart'
			  ]);
			  </script>
			  {% empty %}
				<div id="{{ bldg.id }}-pie-cost-by-type-curr">{{ bldg.id }}-pie-cost-by-type-curr2</div>
			  {% endfor %}
	    {% else %}
			<div id="{{ bldg.id }}-pie-cost-by-type-curr" style="display: inline-block; width: 49%;">{{ bldg.id }}-pie-cost-by-type-curr3</div>
		{% endif %}

		</div> <!-- .onecol-two -->
    </div> <!-- .row -->

    <div class="clear">
      <!-- TODO: Hide the hr after the last space -->
      <div class="woo-sc-hr"></div>
    </div>
    
	{% endfor %}
    </div> <!-- .tab-summary -->
    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if account.account_type %}
            <div class="form-item">
              <label>Account Type:</label>
              <span>{{ account.account_type }}</span>
            </div>
          {% endif %}
          {% if account.city %}
            <div class="form-item">
              <label>City/State/Zip:</label>
              <span>{{ account.city }}, {{ account.state }} {{ account.zip_code }}</span>
            </div>
          {% endif %}
            <div class="form-item">
              <label>Buildings:</label>
              <span>{{ account.building_set.count }}</span>
            </div>
          {% if total_SF %}
            <div class="form-item">
              <label>Floorspace (SF):</label>
              <span>{{ total_SF }}</span>
            </div>
          {% endif %}
            <div class="form-item">
              <label>Meters:</label>
              <span>{{ account.meter_set.count }}</span>
            </div>
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if account.image_file %}
              <li>
                <a rel="images" href="{{ account.image_file.url }}"><img src="{{ account.image_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if measures %}
        <table>
          <tbody>
              <tr>
                <td>Efficiency Measure</td>
                <td>Start Date</td>
              </tr>
            {% for m in measures %}
              <tr>
                <td><a href="/{{ account.id }}/measures/{{ m.id }}">{{ m.name }}</a></td>
                <td>{{ m.when }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if spaces %}
        <table>
          <tbody>
              <tr>
                <td>Space</td>
                <td>Type</td>
                <td>Square Footage</td>
              </tr>
            {% for sp in spaces %}
              <tr>
                <td><a href="/{{ account.id }}/spaces/{{ sp.id }}">{{ sp.name }}</a></td>
                <td>{{ sp.space_type }}</td>
                <td>{{ sp.square_footage }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if meters %}
        <table>
          <tbody>
              <tr>
                <td>Meter</td>
                <td>Fuel Type</td>
              </tr>
            {% for m in meters %}
              <tr>
                <td><a href="/{{ account.id }}/meters/{{ m.id }}">{{ m.name }} - {{ m.utility_type }}</a></td>
                <td>{{ m.utility_type }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if equipments %}
        <table>
          <tbody>
              <tr>
                <td>Equipment</td>
              </tr>
            {% for e in equipments %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if events %}
            {% for e in events %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-info -->
    <div class="tab tab-data">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>
	  
	  {% for utype, costu, consu, pdu, costd, consd, pdd, totals, ratios in meter_data %}
	  <div>{{ utype|safe }}</div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - cost',
        'ComboChart',
        {{ costd|safe }},
        { // options
          title: 'Cost',
          vAxes: { 0: { title: '{{ costu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cons"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - cons',
        'ComboChart',
        {{ consd|safe }},
        { // options
          title: 'Consumption',
          vAxes: { 0: { title: '{{ consu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - pd"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - pd',
        'ComboChart',
        {{ pdd|safe }},
        { // options
          title: 'Peak Demand',
          vAxes: { 0: { title: '{{ pdu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  Totals (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - totals"></div>
      <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - totals',
        'Table',
        {{ totals|safe }},,
        { },
		'Table'
      ]);
      </script>
	  
	  Ratios (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - ratios"></div>
      <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - ratios',
        'Table',
        {{ ratios|safe }},,
        { },
		'Table'
      ]);
      </script>
	  
	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for bar charts and tables.</div>
	  {% endfor %}

	  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data %}
	  <div id="{{ account.id }}-pie-cost-by-meter" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ account.id }}-pie-cost-by-meter',
		'PieChart',
		{{ cost_by_meter|safe }},
		{title: 'Cost by Meter'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ account.id }}-pie-cost-by-type" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ account.id }}-pie-cost-by-type',
		'PieChart',
		{{ cost_by_type|safe }},
		{title: 'Cost by Utility Type'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ account.id }}-pie-kBtu-by-meter" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ account.id }}-pie-kBtu-by-meter',
		'PieChart',
		{{ kBtu_by_meter|safe }},
		{title: 'kBtu by Meter'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ account.id }}-pie-kBtu-by-type" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ account.id }}-pie-kBtu-by-type',
		'PieChart',
		{{ kBtu_by_type|safe }},
		{title: 'kBtu by Utility Type'},
		'PieChart'
	  ]);
	  </script>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for pie charts.</div>
	  {% endfor %}

	  
    </div> <!-- .tab-data -->
    <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
        'model-details',
        'Table',
		{{ account_attrs|safe }},
        { },
		'Table'
      ]);
      </script>
    </div> <!-- .tab-details -->

</section> <!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table"]});
google.setOnLoadCallback(function() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
});
function drawChart(id, chartType, data, options, dtType) {
  var el = document.getElementById(id);
  //var dataTable = google.visualization.arrayToDataTable(data);
  if (dtType == 'BarWithErrors')
    {
     var dataTable = new google.visualization.DataTable();
     dataTable.addColumn('string', 'Month'); // Implicit domain column.
     dataTable.addColumn('number', 'Sales'); // Implicit data column.
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'string', role:'annotation'});
     dataTable.addColumn({type:'string', role:'annotationText'});
	 dataTable.addColumn('number', 'Expenses');
     dataTable.addRows(data);
     }
  else
    {
	 var dataTable = google.visualization.arrayToDataTable(data);	 
	 }
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

</script>
{% endblock %}
