{% extends 'app_base.html' %}
{% block body %}

<head>
<meta charset="utf-8">
</head>

<script type="text/javascript">
function updateProfile(){
    // Create a variable to refer to our request object:
    var xmlhttp;
    xmlhttp=new XMLHttpRequest();
    
	xmlhttp.onreadystatechange = function(){
		// This code will be executed each time the readyState changes
		if(ajaxRequest.readyState == 4){
			// This code will be executed if our request 
			// is completed
			document.getElementById("myData").innerHTML=xmlhttp.responseText;
			}
		};
	xmlhttp.open("GET","/ajaxexample2_script",true);
	xmlhttp.send();
	}
	

</script>

    <div id="myDate"></div>
    <!-- Our response will be placed into the div above,
    thanks to JavaScript's "innerHTML" property. -->

{% endblock %}
