{% extends 'app_base.html' %}
{% block body %}

<head>
<meta charset="utf-8">
</head>
<body>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
<script type="text/javascript">
$(document).ready(function() {
		$.ajax({
			url : "/ajaxexample_json",
			type : "POST",
			dataType: "json",
			data : {
				client_response : "first_script",
				csrfmiddlewaretoken: '{{ csrf_token }}'
				},
			success : function(json) {
				$('#resultA').html( 'Hello ' + json.server_response + '. ');
				},
			error : function(xhr,errmsg,err) {
				alert(xhr.status + ": " + xhr.responseText);
				}
			});
});
</script>
<script type="text/javascript">
$(document).ready(function() {
		$.ajax({
			url : "/ajaxexample_json",
			type : "POST",
			dataType: "json",
			data : {
				client_response : "second_script",
				csrfmiddlewaretoken: '{{ csrf_token }}'
				},
			success : function(json) {
				$('#resultB').html( 'And then the longer-delay ajax script finished.');
				},
			error : function(xhr,errmsg,err) {
				alert(xhr.status + ": " + xhr.responseText);
				}
			});
});
</script>

 
<div id="resultA">
	<img src="{{ STATIC_PREFIX }}app/img/loading.gif" />
	Scanning your face with your webcam to see who you are...
</div>
<div id="resultB">
	<img src="{{ STATIC_PREFIX }}app/img/loading.gif" />
	...
</div>


{% endblock %}
