{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ building.name }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-3">Data</a></li>
      <li class="nav-tab"><a href="#tab-4">5yr</a></li>
      <li class="nav-tab"><a href="#tab-5">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if building.street_address %}
            <div class="form-item">
              <label>Address:</label>
              <span>{{ building.street_address }}</span>
            </div>
          {% endif %}
          {% if building.city %}
            <div class="form-item">
              <label>City/State/Zip:</label>
              <span>{{ building.city }}, {{ building.state }} {{ building.zip_code }}</span>
            </div>
          {% endif %}
          {% if building.square_footage %}
            <div class="form-item">
              <label>Square Footage:</label>
              <span>{{ building.square_footage }}</span>
            </div>
          {% endif %}
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if building.image_file %}
              <li>
                <a rel="images" href="{{ building.image_file.url }}"><img src="{{ building.image_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if building_measures %}
        <table>
          <tbody>
              <tr>
                <td>Efficiency Measure</td>
                <td>Start Date</td>
              </tr>
            {% for bm in building_measures %}
              <tr>
                <td><a href="/{{ account.id }}/measures/{{ bm.id }}">{{ bm.name }}</a></td>
                <td>{{ bm.when }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if building_spaces %}
        <table>
          <tbody>
              <tr>
                <td>Space</td>
                <td>Type</td>
                <td>Square Footage</td>
              </tr>
            {% for sp in building_spaces %}
              <tr>
                <td><a href="/{{ account.id }}/spaces/{{ sp.id }}">{{ sp.name }}</a></td>
                <td>{{ sp.space_type }}</td>
                <td>{{ sp.square_footage }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if building.buildingmeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Meter</td>
                <td>Fuel Type</td>
                <td>Fraction of Meter Assigned</td>
              </tr>
            {% for bma in building.buildingmeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/meters/{{ bma.meter.id }}">{{ bma.meter.name }} - {{ bma.meter.utility_type }}</a></td>
                <td>{{ bma.meter.utility_type }}</td>
                <td>{{ bma.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if building.equipment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Equipment</td>
              </tr>
            {% for e in building.equipment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if events %}
            {% for e in events %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-info -->
    <div class="tab tab-data">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>
	  
	  {% for utype, costu, consu, pdu, costd, consd, pdd, totals, ratios in meter_data %}
	  <div>{{ utype|safe }}</div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost">{{ utype|safe }}</div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - cost',
        'ComboChart',
        {{ costd|safe }},
        { // options
          title: 'Cost',
          vAxes: { 0: { title: '{{ costu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cons"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - cons',
        'ComboChart',
        {{ consd|safe }},
        { // options
          title: 'Consumption',
          vAxes: { 0: { title: '{{ consu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - pd"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - pd',
        'ComboChart',
        {{ pdd|safe }},
        { // options
          title: 'Peak Demand',
          vAxes: { 0: { title: '{{ pdu|safe }}' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  Totals (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - totals"></div>
      <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - totals',
        'Table',
        {{ totals|safe }},,
        { },
		'Table'
      ]);
      </script>
	  
	  Ratios (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - ratios"></div>
      <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - ratios',
        'Table',
        {{ ratios|safe }},,
        { },
		'Table'
      ]);
      </script>
	  
	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for bar charts and tables.</div>
	  {% endfor %}

	  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type in pie_data %}
	  <div id="{{ building.id }}-pie-cost-by-meter" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ building.id }}-pie-cost-by-meter',
		'PieChart',
		{{ cost_by_meter|safe }},
		{title: 'Cost by Meter'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ building.id }}-pie-cost-by-type" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ building.id }}-pie-cost-by-type',
		'PieChart',
		{{ cost_by_type|safe }},
		{title: 'Cost by Utility Type'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ building.id }}-pie-kBtu-by-meter" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ building.id }}-pie-kBtu-by-meter',
		'PieChart',
		{{ kBtu_by_meter|safe }},
		{title: 'kBtu by Meter'},
		'PieChart'
	  ]);
	  </script>
	  <div id="{{ building.id }}-pie-kBtu-by-type" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ building.id }}-pie-kBtu-by-type',
		'PieChart',
		{{ kBtu_by_type|safe }},
		{title: 'kBtu by Utility Type'},
		'PieChart'
	  ]);
	  </script>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for pie charts.</div>
	  {% endfor %}

	  
    </div> <!-- .tab-data -->
    <div class="tab tab-5yr">
	  {% for utype, costu, consu, pdu, costd, costsfd, consd, conssfd in five_year_data %}
	  <div>{{ utype|safe }}</div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cost"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cost',
        'ColumnChart',
        {{ costd|safe }},
        {
        title: '5-yr Costs',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ costu|safe }}' },
				 1: { title: 'Degree Days' }},
		},
		'ColumnChart'
		]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cost per SF"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cost per SF',
        'ColumnChart',
        {{ costsfd|safe }},
        {
        title: '5-yr Costs/SF',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ costu|safe }}/SF' },
				 1: { title: 'Degree Days' }},
		},
		'ColumnChart'
		]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cons"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cons',
        'ColumnChart',
        {{ consd|safe }},
        {
        title: '5-yr Consumption',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ consu|safe }}'  },
				 1: { title: 'Degree Days' }},
		},
		'ColumnChart'
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cons per SF"></div>
	  <script>
      addChart([
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cons per SF',
        'ColumnChart',
        {{ conssfd|safe }},
        {
        title: '5-yr Consumption/SF',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ consu|safe }}/SF'  },
				 1: { title: 'Degree Days' }},
		},
		'ColumnChart'
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for five year charts.</div>
	  {% endfor %}
	
     </div> <!-- .tab-5yr -->
   <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
        'model-details',
        'Table',
		{{ building_attrs|safe }},
        { },
		'Table'
      ]);
      </script>

    </div> <!-- .tab-details -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table"]});
function drawChart(id, chartType, data, options, dtType) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  if (dtType == 'BarWithErrors')
    {
     var dataTable = new google.visualization.DataTable();
     dataTable.addColumn('string', 'Month'); // Implicit domain column.
     dataTable.addColumn('number', 'Sales'); // Implicit data column.
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'string', role:'annotation'});
     dataTable.addColumn({type:'string', role:'annotationText'});
	 dataTable.addColumn('number', 'Expenses');
     dataTable.addRows(data);
     }
  else
    {
	 var dataTable = google.visualization.arrayToDataTable(data);	 
	 }
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
}
google.setOnLoadCallback(drawAllCharts);
$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});
</script>
{% endblock %}
