{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ building.name }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-3">Data</a></li>
    </ul> <!-- .nav-tabs -->
	  
    <div class="tab tab-info">
	  {% for utype, costu, consu, pdu, costd, consd, pdd, totals, ratios in meter_data %}
	  <div>{{ utype|safe }}</div>
      <div id="dashboard">
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost" style='width: 915px; height: 300px;'></div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - control" style='width: 915px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'dashboard',
		'{{ utype|safe }} - {{ forloop.counter0 }} - control',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cost',
        'ComboChart',
        {{ mydata|safe }},
        { },
		'MonthlyColumn'
      ]);
      </script>
	  {% endfor %}

    </div> <!-- .tab-info -->

	</div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table","controls"]});
google.setOnLoadCallback(drawAllCharts);

function drawChart(iddashboard, idcontrol, idchart, chartType, data, options, dtType) {
  if (!google || !google.visualization) return;
  var elcontrol = document.getElementById(idcontrol);
  var elchart = document.getElementById(idchart);
  var eldashboard = document.getElementById(iddashboard);
  
  if (dtType == 'BarWithErrors')
    {
     var dataTable = new google.visualization.DataTable();
     dataTable.addColumn('string', 'Month'); // Implicit domain column.
     dataTable.addColumn('number', 'Sales'); // Implicit data column.
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'string', role:'annotation'});
     dataTable.addColumn({type:'string', role:'annotationText'});
	 dataTable.addColumn('number', 'Expenses');
     dataTable.addRows(data);

	 var chart     = new google.visualization[chartType](elchart);
	 chart.draw(dataTable, options);
     }
  else if (dtType == 'Dashboard')
    {    //var end_date = new Date();
		 //var new_date = new Date(end_date);
		 //new_date.setTime(new_date.getTime()  - 1000*60*60*24*365*3);
		 //var start_date = new Date(new_date);
		 
 		 var dashboard = new google.visualization.Dashboard(eldashboard);
         var control = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': idcontrol,
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
             'ui': {
               'chartType': 'ColumnChart',
               'chartOptions': {
                 'chartArea': {'width': '90%'},
                 'hAxis': {'baselineColor': 'none'}
               },
               // Display a single series that shows the closing value of the stock.
               // Thus, this view has two columns: the date (axis) and the stock value (line series).
               'chartView': {
                 'columns': [0, 1, 2, 3, 4]
               },
               // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
               'minRangeSize': 86400000
             }
           },
           // Initial range:
           //'state': {'range': {'start': start_date, 'end': end_date}}
         });
      
         var chart = new google.visualization.ChartWrapper({
           'chartType': 'ColumnChart',
           'containerId': idchart,
           'options': {
             // Use the same chart area width as the control for axis alignment.
             'chartArea': {'height': '80%', 'width': '90%'},
             'hAxis': {'slantedText': false},
             'vAxis': {'viewWindow': {'min': 0, 'max': 100}},
             'legend': {'position': 'none'}
           },
           // Convert the first column from 'date' to 'string'.
           'view': {
             'columns': [
               {
                 'calc': function(dataTable, rowIndex) {
                   return dataTable.getFormattedValue(rowIndex, 0);
                 },
                 'type': 'string'
               }, 1, 2, 3, 4]
           }
         });

         var dataTable = new google.visualization.DataTable();
         dataTable.addColumn('date', 'Date');
         dataTable.addColumn('number', 'Stock low');
         dataTable.addColumn('number', 'Stock open');
         dataTable.addColumn('number', 'Stock close');
         dataTable.addColumn('number', 'Stock high');

		 for (var i = 0; i < data.length; i++) { 
                            data[i][0] = new Date(data[i][0]);
                        }

		 dataTable.addRows(data);
		 // Create formatters.
		 var formatter_months = new google.visualization.DateFormat({pattern: "MMM''yy"});
		 var formatter_dollars = new google.visualization.NumberFormat(
				{prefix: '$', negativeColor: 'red', negativeParens: true});
		 // Reformat our data.
		 formatter_months.format(dataTable, 0);
		 formatter_dollars.format(dataTable, 1);
		 
         dashboard.bind(control, chart);
         dashboard.draw(dataTable);

		 }
  else if (dtType == 'MonthlyColumn')
	{
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Year');
		data.addColumn('number', 'Foo');
		data.addColumn('number', 'Bar');
		data.addColumn('number', 'Baz');
		data.addColumn('number', 'Cad');
		data.addRows([
			['2005',  45, 60, 89, 100],
			['2006',  155, 50, 79, 24],
			['2007',  35, 31, 140, 53],
			['2008',  105, 23, 43, 82],
			['2009',  120, 56, 21, 67],
			['2010',  65, 19, 34, 134],
			['2011',  80, 23, 130, 40],
			['2012',  70, 140, 83, 90]
		]);

		var columnsTable = new google.visualization.DataTable();
		columnsTable.addColumn('number', 'colIndex');
		columnsTable.addColumn('string', 'colLabel');
		var initState= {selectedValues: []};
		// put the columns into this data table (skip column 0)
		for (var i = 1; i < data.getNumberOfColumns(); i++) {
			columnsTable.addRow([i, data.getColumnLabel(i)]);
			// you can comment out this next line if you want to have a default selection other than the whole list
			initState.selectedValues.push(data.getColumnLabel(i));
		}
		// you can set individual columns to be the default columns (instead of populating via the loop above) like this:
		// initState.selectedValues.push(data.getColumnLabel(4));
		
		var chart = new google.visualization.ChartWrapper({
			chartType: 'BarChart',
			containerId: idchart,
			dataTable: data,
			options: {
				title: 'Foobar',
				width: 600,
				height: 400
			}
		});
		
		var columnFilter = new google.visualization.ControlWrapper({
			controlType: 'CategoryFilter',
			containerId: idcontrol,
			dataTable: columnsTable,
			options: {
				filterColumnLabel: 'colLabel',
				ui: {
					label: 'Columns',
					allowTyping: false,
					allowMultiple: true,
					allowNone: false,
					selectedValuesLayout: 'belowStacked'
				}
			},
			state: initState
		});
		
		google.visualization.events.addListener(columnFilter, 'statechange', setChartView);
		
		setChartView();
		columnFilter.draw();
	
	 }
  else
    {
	 var dataTable = google.visualization.arrayToDataTable(data);	 
	 var chart     = new google.visualization[chartType](elchart);
	 chart.draw(dataTable, options);
	 }
}

function setChartView () {
	var state = columnFilter.getState();
	var row;
	var view = {
		columns: [0]
	};
	for (var i = 0; i < state.selectedValues.length; i++) {
		row = columnsTable.getFilteredRows([{column: 1, value: state.selectedValues[i]}])[0];
		view.columns.push(columnsTable.getValue(row, 0));
	}
	// sort the indices into their original order
	view.columns.sort(function (a, b) {
		return (a - b);
	});
	chart.setView(view);
	chart.draw();
}
		
function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
}
$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});
</script>
{% endblock %}
