{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ measure.name}} - {{ measure.utility_type }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-3">Data</a></li>
      <li class="nav-tab"><a href="#tab-5">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if measure.utility_type %}
            <div class="form-item">
              <label>Utility Type:</label>
              <span>{{ measure.utility_type }}</span>
            </div>
          {% endif %}
          {% if measure.units %}
            <div class="form-item">
              <label>Units (Peak Demand, Energy):</label>
              <span>{{ measure.units }}</span>
            </div>
          {% endif %}
          {% if measure.annual_consumption_savings %}
            <div class="form-item">
              <label>Annual Consumption Savings:</label>
              <span>{{ measure.annual_consumption_savings }}</span>
            </div>
          {% endif %}
          {% if measure.peak_demand_savings %}
            <div class="form-item">
              <label>Annual Peak Demand Savings:</label>
              <span>{{ measure.peak_demand_savings }}</span>
            </div>
          {% endif %}
          {% if measure.annual_cost_savings %}
            <div class="form-item">
              <label>Annual Cost Savings:</label>
              <span>{{ measure.annual_cost_savings }}</span>
            </div>
          {% endif %}
        </div>

		</div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if measure_buildings %}
        <table>
          <tbody>
              <tr>
                <td>Building</td>
              </tr>
            {% for b in measure_buildings %}
              <tr>
                <td><a href="/{{ account.id }}/buildings/{{ b.id }}">{{ b.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if measure.meters.all %}
        <table>
          <tbody>
              <tr>
                <td>Meter</td>
              </tr>
            {% for m in measure.meters.all %}
              <tr>
                <td><a href="/{{ account.id }}/meters/{{ m.id }}">{{ m.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if measure.equipments.all %}
        <table>
          <tbody>
              <tr>
                <td>Equipment</td>
              </tr>
            {% for e in measure.equipments.all %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

    </div> <!-- .tab-info -->
    <div class="tab tab-data">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>
	  
	  {% if cost_by_month == 'false' %}
	    No cost data to display. <br>
	  {% endif %}
	  {% if consumption_by_month == 'false' %}
	    No consumption data to display. <br>
	  {% endif %}
	  {% if demand_by_month == 'false' %}
	    No demand data to display. <br>
	  {% endif %}

    </div> <!-- .tab-data -->
    <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
        'model-details',
        'Table',
		{{ measure_list|safe }},
        { },
		'Table'
      ]);
      </script>

    </div> <!-- .tab-details -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table"]});
function drawChart(id, chartType, data, options, dtType) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  if (dtType == 'BarWithErrors')
    {
     var dataTable = new google.visualization.DataTable();
     dataTable.addColumn('string', 'Month'); // Implicit domain column.
     dataTable.addColumn('number', 'Sales'); // Implicit data column.
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'string', role:'annotation'});
     dataTable.addColumn({type:'string', role:'annotationText'});
	 dataTable.addColumn('number', 'Expenses');
     dataTable.addRows(data);
     }
  else
    {
	 var dataTable = google.visualization.arrayToDataTable(data);	 
	 }
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
}
google.setOnLoadCallback(drawAllCharts);
$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});
</script>
{% endblock %}
