{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ meter.name}} - {{ meter.utility_type }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-2">Upload</a></li>
      <li class="nav-tab"><a href="#tab-3">Bars</a></li>
      <li class="nav-tab"><a href="#tab-4">Tables</a></li>
      <li class="nav-tab"><a href="#tab-5">5yr</a></li>
      <li class="nav-tab"><a href="#tab-6">Motion</a></li>
      <li class="nav-tab"><a href="#tab-7">Stats</a></li>
      <li class="nav-tab"><a href="#tab-8">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if meter.serves %}
            <div class="form-item">
              <label>Serves:</label>
              <span>{{ meter.serves }}</span>
            </div>
          {% endif %}
          {% if meter.location %}
            <div class="form-item">
              <label>Located:</label>
              <span>{{ meter.location }}</span>
            </div>
          {% endif %}
          {% if meter.make %}
            <div class="form-item">
              <label>Make:</label>
              <span>{{ meter.make }}</span>
            </div>
          {% endif %}
          {% if meter.model %}
            <div class="form-item">
              <label>Model:</label>
              <span>{{ meter.model }}</span>
            </div>
          {% endif %}
          {% if meter.serial_number %}
            <div class="form-item">
              <label>Serial #:</label>
              <span>{{ meter.serial_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_account_number %}
            <div class="form-item">
              <label>Provider acct. #:</label>
              <span>{{ meter.utility_account_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_meter_number %}
            <div class="form-item">
              <label>Provider meter #:</label>
              <span>{{ meter.utility_meter_number }}</span>
            </div>
          {% endif %}
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if meter.image_file %}
              <li>
                <a rel="images" href="{{ meter.image_file.url }}"><img src="{{ meter.image_file.url }}" /></a>
              </li>
            {% endif %}
            {% if meter.nameplate_file %}
              <li>
                <a rel="images" href="{{ meter.nameplate_file.url }}"><img src="{{ meter.nameplate_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if meter.emmeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Efficiency Measure</td>
                <td>Start Date</td>
                <td>Portion of Savings Assigned</td>
              </tr>
            {% for ema in meter.emmeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/measures/{{ ema.efficiency_measure.id }}">{{ ema.efficiency_measure.name }}</a></td>
                <td>{{ ema.efficiency_measure.when }}</td>
                <td>{{ ema.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if meter.buildingmeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Building Served</td>
                <td>Fraction of Meter Assigned</td>
              </tr>
            {% for bma in meter.buildingmeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/buildings/{{ bma.building.id }}">{{ bma.building.name }}</a></td>
                <td>{{ bma.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if meter.equipment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Equipment Served</td>
              </tr>
            {% for e in meter.equipment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if events %}
            {% for e in events %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-info -->
    <div class="tab tab-upload">
		<form enctype="multipart/form-data" class="entry" action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-item">
				{{ form.bill_data_file.errors }}
				{{ form.bill_data_file.label_tag }}
				{{ form.bill_data_file }}
			</div>
			<input type="submit" value="Upload Bill Data" />
		</form>
	</div> <!-- .tab-upload -->
    <div class="tab tab-bars">
	  {% if cost_by_month == 'false' %}
	    No cost data to display. <br>
	  {% else %}
	  <div id="cost - dashboard">
	  <div id="cost - chart" style='width: 715px; height: 300px;'></div>
	  <div id="cost - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'cost - dashboard',
		'cost - chart',
		'cost - control',
        [['date','Month'],
		 ['number','Cost (baseline)'],
		 ['number','Cost (expected)'],
		 ['number','Cost Savings (expected)'],
		 ['number','Cost (actual)'],
		 ['number','Cost Savings (actual)']],
		{{ cost_by_month|safe }},
        'USD'
      ]);
      </script>
	  {% endif %}
	  
	  {% if consumption_by_month == 'false' %}
	    No consumption data to display. <br>
	  {% else %}
	  <div id="consumption - dashboard">
	  <div id="consumption - chart" style='width: 715px; height: 300px;'></div>
	  <div id="consumption - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'consumption - dashboard',
		'consumption - chart',
		'consumption - control',
        [['date','Month'],
		 ['number','Consumption (baseline)'],
		 ['number','Consumption (expected)'],
		 ['number','Consumption Savings (expected)'],
		 ['number','Consumption (actual)'],
		 ['number','Consumption Savings (actual)']],
		{{ consumption_by_month|safe }},
        '{{ consumption_units|safe }}'
      ]);
      </script>
	  {% endif %}
	  
	  {% if demand_by_month == 'false' %}
	    No peak demand data to display. <br>
	  {% else %}
	  <div id="demand - dashboard">
	  <div id="demand - chart" style='width: 715px; height: 300px;'></div>
	  <div id="demand - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'demand - dashboard',
		'demand - chart',
		'demand - control',
        [['date','Month'],
		 ['number','Peak Demand (baseline)'],
		 ['number','Peak Demand (expected)'],
		 ['number','Peak Demand Savings (expected)'],
		 ['number','Peak Demand (actual)'],
		 ['number','Peak Demand Savings (actual)']],
		{{ demand_by_month|safe }},
        '{{ demand_units|safe }}'
      ]);
      </script>
	  {% endif %}

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
	  {% if kbtu_by_month == 'false' %}
	    No kBtu consumption data to display. <br>
	  {% else %}
	  <div id="kBtu - dashboard">
	  <div id="kBtu - chart" style='width: 715px; height: 300px;'></div>
	  <div id="kBtu - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'kBtu - dashboard',
		'kBtu - chart',
		'kBtu - control',
        [['date','Month'],
		 ['number','kBtu Consumption (baseline)'],
		 ['number','kBtu Consumption (expected)'],
		 ['number','kBtu Consumption Savings (expected)'],
		 ['number','kBtu Consumption (actual)'],
		 ['number','kBtu Consumption Savings (actual)']],
		{{ kbtu_by_month|safe }},
        'kBtu'
      ]);
      </script>
	  {% endif %}

	  {% if kbtuh_by_month == 'false' %}
	    No kBtuh peak demand data to display. <br>
	  {% else %}
	  <div id="kBtuh - dashboard">
	  <div id="kBtuh - chart" style='width: 715px; height: 300px;'></div>
	  <div id="kBtuh - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'kBtuh - dashboard',
		'kBtuh - chart',
		'kBtuh - control',
        [['date','Month'],
		 ['number','kBtuh Peak Demand (baseline)'],
		 ['number','kBtuh Peak Demand (expected)'],
		 ['number','kBtuh Peak Demand Savings (expected)'],
		 ['number','kBtuh Peak Demand (actual)'],
		 ['number','kBtuh Peak Demand Savings (actual)']],
		{{ kbtuh_by_month|safe }},
        'kBtu/h'
      ]);
      </script>
	  {% endif %}

    </div> <!-- .tab-bars -->
    <div class="tab tab-tables">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>
	  
	  {% if totals_table == 'false' %}
	    No totals to display. <br>
	  {% else %}
	  Totals (over the period selected)
      <div id="totals-table"></div>
      <script>
      addChart([
        'Table',
        'totals-table',
		'Table',
        {{ totals_table|safe }},
        {}
      ]);
      </script>
	  {% endif %}
	  
	  {% if ratios_table == 'false' %}
	    No ratios to display. <br>
	  {% else %}
	  Ratios (over the period selected)
      <div id="ratios-table"></div>
      <script>
      addChart([
		'Table',
        'ratios-table',
        'Table',
        {{ ratios_table|safe }},
        {}
      ]);
      </script>
	  {% endif %}
    </div> <!-- .tab-tables -->
    <div class="tab tab-5yr">

	<div id="stacked-5-cost"></div>
	  <script>
      addChart([
        'ColumnChart',
        'stacked-5-cost',
		'ColumnChart',
		{{ five_year_table_cost|safe }},
        {
        title: '5-yr Costs',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: 'USD' },
				 1: { title: 'Degree Days' }},
		}
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
	<div id="stacked-5-cons"></div>
	  <script>
      addChart([
		'ColumnChart',
        'stacked-5-cons',
        'ColumnChart',
		{{ five_year_table_cons|safe }},
        {
        title: '5-yr Consumption',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: {{ consumption_units|safe }} },
				 1: { title: 'Degree Days' }},
		}
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	<div id="stacked-5-kBtu"></div>
	  <script>
      addChart([
		'ColumnChart',
        'stacked-5-kBtu',
        'ColumnChart',
		{{ five_year_table_kBtu|safe }},
        {
        title: '5-yr kBtu Consumption',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: 'kBtu' },
				 1: { title: 'Degree Days' }},
		}
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

    </div> <!-- .tab-5yr -->
    <div class="tab tab-motion">
	  <div id="motion-chart" style="display: inline-block; width: 99%;"></div>
	  <script>
	  addChart([
		'MotionChart',
		'motion-chart',
		'MotionChart',
		{{ motion_data|safe }},
		{}
	  ]);
	  </script>

    </div> <!-- .tab-motion -->
    <div class="tab tab-stats">
	  {% if consumption_model_stats_table == 'false' %}
	    No consumption model assigned to this Meter. <br>
	  {% else %}
	  Consumption Model Statistics
      <div id="consumption_model_stats_table"></div>
      <script>
      addChart([
		'Table',
        'consumption_model_stats_table',
        'Table',
		{{ consumption_model_stats_table|safe }},        
		{}
      ]);
      </script>

	  <div id="{{ meter.id }}-consumption-model-residuals-histogram" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'Histogram',
		'{{ meter.id }}-consumption-model-residuals-histogram',
		'ColumnChart',
		{{ consumption_model_residuals_histogram|safe }},
		{hAxis: {title: 'Residual Ranges'},
		 vAxis: {title: 'Frequency'},
		 legend: 'none'},
	  ]);
	  </script>

	  {% for indvarname,indvardata in consumption_residual_plots %}
	  <div id="{{ indvarname|safe }} - {{ forloop.counter0 }} - consumption" style="display: inline-block; width: 49%;"></div>
	  <script>
      addChart([
		'Scatter',
        '{{ indvarname|safe }} - {{ forloop.counter0 }} - consumption',
        'ScatterChart',
        {{ indvardata|safe }},
		{hAxis: {title: '{{ indvarname|safe }}' },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		}
      ]);
      </script>
	  {% empty %}
	    <div id="no consumption variables">No independent variables for consumption model.</div>
	  {% endfor %}
	  {% endif %}

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
	  
	  {% if peak_demand_model_stats_table == 'false' %}
	    No peak demand model assigned to this Meter. <br>
	  {% else %}
	  Peak Demand Model Statistics
      <div id="peak_demand_model_stats_table"></div>
      <script>
      addChart([
		'Table',
        'peak_demand_model_stats_table',
        'Table',
		{{ peak_demand_model_stats_table|safe }},
        {}
      ]);
      </script>
	  
	  <div id="{{ meter.id }}-peak-demand-model-residuals-histogram" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'Histogram',
		'{{ meter.id }}-peak-demand-model-residuals-histogram',
		'ColumnChart',
		{{ peak_demand_model_residuals_histogram|safe }},
		{hAxis: {title: 'Residual Ranges'},
		 vAxis: {title: 'Frequency'},
		 legend: 'none'}
	  ]);
	  </script>

	  {% for indvarname,indvardata in peak_demand_residual_plots %}
	  <div id="{{ indvarname|safe }} - {{ forloop.counter0 }} - peak demand" style="display: inline-block; width: 49%;"></div>
	  <script>
      addChart([
		'Scatter',
        '{{ indvarname|safe }} - {{ forloop.counter0 }} - peak demand',
        'ScatterChart',
        {{ indvardata|safe }},
		{hAxis: {title: '{{ indvarname|safe }}' },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		}
      ]);
      </script>
	  {% empty %}
	    <div id="no peak demand variables">No independent variables for peak demand model.</div>
	  {% endfor %}
	  {% endif %}
	  
    </div> <!-- .tab-stats -->
    <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
		'Table',
        'model-details',
        'Table',
		{{ meter_attrs|safe }},
        {}
      ]);
      </script>

    </div> <!-- .tab-details -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table","controls","motionchart"]});
google.setOnLoadCallback(drawAllCharts);

function drawGeneric(chartDrawFunc, id, chartType, data, options) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  var dataTable = google.visualization.arrayToDataTable(data);	 
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawMonthlyColumn(chartDrawFunc, iddashboard, idchart, idcontrol, cols, data, vaxtitle) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var control = new google.visualization.ControlWrapper({
    'controlType': 'ChartRangeFilter',
    'containerId': idcontrol,
    'options': {
 	 // Filter by the date axis.
 	  'filterColumnIndex': 0,
 	  'ui': {
	    'chartType': 'ColumnChart',
	    'chartOptions': {
		  'chartArea': {'left': '15%', 'width': '85%'},
		  'hAxis': {'baselineColor': 'none'}
	    },
	    'chartView': {
		  'columns': [0, 1, 2, 3, 4, 5]
	    },
	    // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
	    'minRangeSize': 86400000
	  }
    },
    // Initial range:
    'state': {'range': {'start': new Date(data[data.length-13][0]),
						'end': new Date(data[data.length-1][0])
						}
			  }
  });

  var chart = new google.visualization.ChartWrapper({
    'chartType': 'ColumnChart',
    'containerId': idchart,
    'options': {
	  // Use the same chart area width as the control for axis alignment.
	  'chartArea': {'height': '80%', 'left': '15%', 'width': '85%'},
	  'hAxis': {'slantedText': false},
	  'vAxis': {'title': vaxtitle},
	  'legend': {'position': 'top'}
    },
    // Convert the first column from 'date' to 'string'.
    'view': {
	  'columns': [
	    {
		  'calc': function(dataTable, rowIndex) {
		    return dataTable.getFormattedValue(rowIndex, 0);
		  },
		  'type': 'string'
	    }, 1, 2, 3, 4, 5]
    }
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  for (var i = 0; i < data.length; i++) { 
		data[i][0] = new Date(data[i][0]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
  var formatter_months = new google.visualization.DateFormat({pattern: "MMM''yy"});
  var formatter_dollars = new google.visualization.NumberFormat(
		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
  formatter_months.format(dataTable, 0);
  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(control, chart);
  dashboard.draw(dataTable);
}

function drawPie(chartDrawFunc, iddashboard, idchart, idcontrol, cols, data, charttitle, viewcols, filtercol) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var categoryPicker = new google.visualization.ControlWrapper({
    'controlType': 'CategoryFilter',
    'containerId': idcontrol,
    'options': {
      'filterColumnIndex': filtercol,
      'ui': {
        'labelStacking': 'vertical',
        'allowTyping': false,
        'allowMultiple': false
      }
    }
  });

  var chart = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols}
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
//  var formatter_dollars = new google.visualization.NumberFormat(
//		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
//  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(categoryPicker, chart);
  dashboard.draw(dataTable);
}

function drawTwoPies(chartDrawFunc, iddashboard, idchart1, idchart2, idcontrol, cols, data, charttitle1, charttitle2, viewcols1, viewcols2, filtercol) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var categoryPicker = new google.visualization.ControlWrapper({
    'controlType': 'CategoryFilter',
    'containerId': idcontrol,
    'options': {
      'filterColumnIndex': filtercol,
      'ui': {
        'labelStacking': 'vertical',
        'allowTyping': false,
        'allowMultiple': false
      }
    }
  });

  var chart1 = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart1,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle1,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols1}
  });

    var chart2 = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart2,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle2,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols2}
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
//  var formatter_dollars = new google.visualization.NumberFormat(
//		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
//  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(categoryPicker, [chart1, chart2]);
  dashboard.draw(dataTable);
}

function drawMotion(chartDrawFunc, id, chartType, data, options) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  for (var i = 1; i < data.length; i++) {data[i][1] = new Date(data[i][1]);}
  var dataTable = google.visualization.arrayToDataTable(data);	 
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
		if (chart[0] == 'Table')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'Scatter')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'Histogram')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'ComboChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'ColumnChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'PieChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'PieControl')
			{drawPie.apply(this, chart);}
		else if (chart[0] == 'TwoPiesControl')
			{drawTwoPies.apply(this, chart);}
		else if (chart[0] == 'MonthlyColumn')
			{drawMonthlyColumn.apply(this, chart);}
		else if (chart[0] == 'MotionChart')
			{drawMotion.apply(this, chart);}
		else
			{}
  }
}

$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});

</script>

{% endblock %}
