{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ meter.name}} - {{ meter.utility_type }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Overview</a></li>
      <li class="nav-tab"><a href="#tab-2">Stats</a></li>
      <li class="nav-tab"><a href="#tab-3">Details</a></li>
      <li class="nav-tab"><a href="#tab-4">Upload</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-overview">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if meter.serves %}
            <div class="form-item">
              <label>Serves:</label>
              <span>{{ meter.serves }}</span>
            </div>
          {% endif %}
          {% if meter.location %}
            <div class="form-item">
              <label>Located:</label>
              <span>{{ meter.location }}</span>
            </div>
          {% endif %}
          {% if meter.make %}
            <div class="form-item">
              <label>Make:</label>
              <span>{{ meter.make }}</span>
            </div>
          {% endif %}
          {% if meter.model %}
            <div class="form-item">
              <label>Model:</label>
              <span>{{ meter.model }}</span>
            </div>
          {% endif %}
          {% if meter.serial_number %}
            <div class="form-item">
              <label>Serial #:</label>
              <span>{{ meter.serial_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_account_number %}
            <div class="form-item">
              <label>Provider acct. #:</label>
              <span>{{ meter.utility_account_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_meter_number %}
            <div class="form-item">
              <label>Provider meter #:</label>
              <span>{{ meter.utility_meter_number }}</span>
            </div>
          {% endif %}
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if meter.image_file %}
              <li>
                <a rel="images" href="{{ meter.image_file.url }}"><img src="{{ meter.image_file.url }}" /></a>
              </li>
            {% endif %}
            {% if meter.nameplate_file %}
              <li>
                <a rel="images" href="{{ meter.nameplate_file.url }}"><img src="{{ meter.nameplate_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
	  {% if cost_by_month == 'false' %}
	    No cost data to display. <br>
	  {% endif %}
	  {% if consumption_by_month == 'false' %}
	    No consumption data to display. <br>
	  {% endif %}
	  {% if demand_by_month == 'false' %}
	    No demand data to display. <br>
	  {% endif %}
	  
      <div id="cost-by-month"></div>
	  <script>
      addChart([
        'cost-by-month',
        'ComboChart',
        {{ cost_by_month|safe }},
        { // options
          title: 'Cost',
          vAxes: { 0: { title: 'USD' } },
          seriesType: "bars",
          series:     {
            0: {type: "bar",  targetAxisIndex: 0, color: '#109618' },
            1: {type: "line", targetAxisIndex: 1, color: '#dc3912' },
          }
        }
      ]);
      </script>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
      <div id="consumption-by-month"></div>
      <script>
      addChart([
        'consumption-by-month',
        'ComboChart',
        {{ consumption_by_month|safe }},
        { // options
          title: 'Consumption',
          vAxes: { 0: { title: {{ consumption_units|safe }} } },
          seriesType: "bars",
          series:     {
            0: {type: "bar",  targetAxisIndex: 0, color: '#109618' },
            1: {type: "line", targetAxisIndex: 1, color: '#dc3912' },
          }
        }
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <div id="demand-by-month"></div>
      <script>
      addChart([
        'demand-by-month',
        'ComboChart',
        {{ demand_by_month|safe }},
        { // options
          title: 'Peak Demand',
          vAxes: { 0: { title: {{ demand_units|safe }} } },
          seriesType: "bars",
          series:     {
            0: {type: "bar",  targetAxisIndex: 0, color: '#109618' },
            1: {type: "line", targetAxisIndex: 1, color: '#dc3912' },
          }
        }
      ]);
      </script>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if building.meter_set.all %}
        <p>Meters</p>
        <table>
          <tbody>
            {% for m in building.meter_set.all %}
              <tr>
                <td>Meter</td>
                <td>{{ m.name }}</td>
                <td><a href="/{{ account.id }}/meters/{{ m.id }}">view details</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if building.equipment_set.all %}
        <p>Equipment</p>
        <table>
          <tbody>
            {% for e in building.equipment_set.all %}
              <tr>
                <td>Equipment</td>
                <td>{{ e.name }}</td>
                <td><a href="/{{ account.id }}/equipment/{{ e.id }}">view details</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if building.event_set.all %}
            {% for e in building.event_set.all %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-overview -->

    <div class="tab tab-stats">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" value="{{ thirty_days_ago|date:"m/d/Y" }}" />
        to
        <input type="text" class="datepicker" value="{% now "m/d/Y" %}" />
      </p>

      <div id="electricity-over-time"></div>
      <script>
      addChart([
        'electricity-over-time',
        'LineChart',
        [ // data
          //        kWh
          ['Month', 'Electricity' ],
          ['4/25',   165,         ],
          ['4/26',   135,         ],
          ['4/27',   140,         ],
          ['4/28',   165,         ],
          ['4/29',   157,         ],
          ['4/30',   135,         ],
          ['5/1',    165,         ],
          ['5/2',    157,         ],
          ['5/3',    165,         ],
          ['5/4',    135,         ],
          ['5/5',    165,         ],
          ['5/6',    140,         ],
          ['5/7',    165,         ],
          ['5/8',    135,         ],
          ['5/9',    157,         ],
          ['5/10',   139,         ],
          ['5/11',   136,         ],
          ['5/12',   165,         ],
          ['5/13',   135,         ],
          ['5/14',   165,         ],
          ['5/15',   140,         ],
          ['5/16',   157,         ],
          ['5/17',   165,         ],
          ['5/18',   135,         ],
          ['5/19',   165,         ],
          ['5/20',   140,         ],
          ['5/21',   135,         ],
          ['5/22',   157,         ],
          ['5/23',   139,         ],
          ['5/24',   136,         ]
        ],
        { // options
          title:  'Electricity',
          vAxis:  { title: 'kWh' },
          legend: { position: 'none' },
          hAxis:  { maxAlternation: 1 }
        }
      ]);
      </script>

      <div id="gas-over-time"></div>
      <script>
      addChart([
        'gas-over-time',
        'LineChart',
        [ // data
          //        CCFs
          ['Month', 'Gas' ],
          ['4/25',   165,         ],
          ['4/26',   135,         ],
          ['4/27',   140,         ],
          ['4/28',   165,         ],
          ['4/29',   157,         ],
          ['4/30',   135,         ],
          ['5/1',    165,         ],
          ['5/2',    157,         ],
          ['5/3',    165,         ],
          ['5/4',    135,         ],
          ['5/5',    165,         ],
          ['5/6',    140,         ],
          ['5/7',    165,         ],
          ['5/8',    135,         ],
          ['5/9',    157,         ],
          ['5/10',   139,         ],
          ['5/11',   136,         ],
          ['5/12',   165,         ],
          ['5/13',   135,         ],
          ['5/14',   165,         ],
          ['5/15',   140,         ],
          ['5/16',   157,         ],
          ['5/17',   165,         ],
          ['5/18',   135,         ],
          ['5/19',   165,         ],
          ['5/20',   140,         ],
          ['5/21',   135,         ],
          ['5/22',   157,         ],
          ['5/23',   139,         ],
          ['5/24',   136,         ]
        ],
        { // options
          title:  'Gas',
          vAxis:  { title: 'CCFs' },
          legend: { position: 'none' },
          hAxis:  { maxAlternation: 1 }
        }
      ]);
      </script>

      <div id="water-over-time"></div>
      <script>
      addChart([
        'water-over-time',
        'LineChart',
        [ // data
          //        tons
          ['Month', 'Water' ],
          ['4/25',   165,         ],
          ['4/26',   135,         ],
          ['4/27',   140,         ],
          ['4/28',   165,         ],
          ['4/29',   157,         ],
          ['4/30',   135,         ],
          ['5/1',    165,         ],
          ['5/2',    157,         ],
          ['5/3',    165,         ],
          ['5/4',    135,         ],
          ['5/5',    165,         ],
          ['5/6',    140,         ],
          ['5/7',    165,         ],
          ['5/8',    135,         ],
          ['5/9',    157,         ],
          ['5/10',   139,         ],
          ['5/11',   136,         ],
          ['5/12',   165,         ],
          ['5/13',   135,         ],
          ['5/14',   165,         ],
          ['5/15',   140,         ],
          ['5/16',   157,         ],
          ['5/17',   165,         ],
          ['5/18',   135,         ],
          ['5/19',   165,         ],
          ['5/20',   140,         ],
          ['5/21',   135,         ],
          ['5/22',   157,         ],
          ['5/23',   139,         ],
          ['5/24',   136,         ]
        ],
        { // options
          title:  'Water',
          vAxis:  { title: 'tons' },
          legend: { position: 'none' },
          hAxis:  { maxAlternation: 1 }
        }
      ]);
      </script>

      <div class="row">
        <div id="by-end-use" style="display: inline-block; width: 49%;"></div>
        <script>
        addChart([
          'by-end-use',
          'PieChart',
          [ // data
            //            Common Units
            [ 'End Use',  'Percent' ],
            [ 'Cooling',         11 ],
            [ 'Lighting',         3 ],
            [ 'Heating',          1 ]
          ],
          { // options
            title:  'By End Use',
            slices: {
              0: {color: '#3366cc'},
              1: {color: '#ff9900'},
              2: {color: '#dc3912'}
            }
          }
        ]);
        </script>

        <div id="by-fuel-type" style="display: inline-block; width: 49%;"></div>
        <script>
        addChart([
          'by-fuel-type',
          'PieChart',
          [ // data
            //               Common Units
            [ 'Fuel Type',   'Percent' ],
            [ 'Electricity',        32 ],
            [ 'Water',              11 ],
            [ 'Natural Gas',         7 ]
          ],
          { // options
            title:  'By Fuel Type',
            slices: {
              0: {color: '#109618'},
              1: {color: '#0099c6'},
              2: {color: '#ff9900'}
            }
          }
        ]);
        </script>
      </div>

      <div id="temperature-over-time"></div>
      <script>
      addChart([
        'temperature-over-time',
        'LineChart',
        [ // data
          //        degrees
          ['Month', 'Temperature' ],
          ['4/25',   165,         ],
          ['4/26',   135,         ],
          ['4/27',   140,         ],
          ['4/28',   165,         ],
          ['4/29',   157,         ],
          ['4/30',   135,         ],
          ['5/1',    165,         ],
          ['5/2',    157,         ],
          ['5/3',    165,         ],
          ['5/4',    135,         ],
          ['5/5',    165,         ],
          ['5/6',    140,         ],
          ['5/7',    165,         ],
          ['5/8',    135,         ],
          ['5/9',    157,         ],
          ['5/10',   139,         ],
          ['5/11',   136,         ],
          ['5/12',   165,         ],
          ['5/13',   135,         ],
          ['5/14',   165,         ],
          ['5/15',   140,         ],
          ['5/16',   157,         ],
          ['5/17',   165,         ],
          ['5/18',   135,         ],
          ['5/19',   165,         ],
          ['5/20',   140,         ],
          ['5/21',   135,         ],
          ['5/22',   157,         ],
          ['5/23',   139,         ],
          ['5/24',   136,         ]
        ],
        { // options
          title:  'Temperature / RH',
          vAxis:  { title: 'degrees' },
          legend: { position: 'none' },
          hAxis:  { maxAlternation: 1 }
        }
      ]);
      </script>

      <div id="occupancy-over-time"></div>
      <script>
      addChart([
        'occupancy-over-time',
        'LineChart',
        [ // data
          //        occupants
          ['Month', 'Occupancy' ],
          ['4/25',   165,         ],
          ['4/26',   135,         ],
          ['4/27',   140,         ],
          ['4/28',   165,         ],
          ['4/29',   157,         ],
          ['4/30',   135,         ],
          ['5/1',    165,         ],
          ['5/2',    157,         ],
          ['5/3',    165,         ],
          ['5/4',    135,         ],
          ['5/5',    165,         ],
          ['5/6',    140,         ],
          ['5/7',    165,         ],
          ['5/8',    135,         ],
          ['5/9',    157,         ],
          ['5/10',   139,         ],
          ['5/11',   136,         ],
          ['5/12',   165,         ],
          ['5/13',   135,         ],
          ['5/14',   165,         ],
          ['5/15',   140,         ],
          ['5/16',   157,         ],
          ['5/17',   165,         ],
          ['5/18',   135,         ],
          ['5/19',   165,         ],
          ['5/20',   140,         ],
          ['5/21',   135,         ],
          ['5/22',   157,         ],
          ['5/23',   139,         ],
          ['5/24',   136,         ]
        ],
        { // options
          title:  'Occupancy',
          vAxis:  { title: 'occupants' },
          legend: { position: 'none' },
          hAxis:  { maxAlternation: 1 }
        }
      ]);
      </script>
    </div> <!-- .tab-stats -->

    <div class="tab tab-details">
      <table>
        <tr>
          <th>Field</td>
          <th>Value</td>
        </tr>

        {% for field,value in meter_dict.items %}
          <tr>
            <td>{{field}}</td>
            <td>{{value}}</td>
          </tr>
        {% endfor %}
      </table>
    </div> <!-- .tab-details -->
    <div class="tab tab-upload">
		<form enctype="multipart/form-data" class="entry" action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-item">
				{{ form.bill_data_file.errors }}
				{{ form.bill_data_file.label_tag }}
				{{ form.bill_data_file }}
			</div>
			<input type="submit" value="Upload Bill Data" />
		</form>
    </div> <!-- .tab-upload -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
function drawChart(id, chartType, data, options) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  var dataTable = google.visualization.arrayToDataTable(data);
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
}
google.setOnLoadCallback(drawAllCharts);
$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});
</script>
{% endblock %}
