{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ meter.name}} - {{ meter.utility_type }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-2">Upload</a></li>
      <li class="nav-tab"><a href="#tab-3">Monthly</a></li>
      <li class="nav-tab"><a href="#tab-4">Stats</a></li>
      <li class="nav-tab"><a href="#tab-5">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if meter.serves %}
            <div class="form-item">
              <label>Serves:</label>
              <span>{{ meter.serves }}</span>
            </div>
          {% endif %}
          {% if meter.location %}
            <div class="form-item">
              <label>Located:</label>
              <span>{{ meter.location }}</span>
            </div>
          {% endif %}
          {% if meter.make %}
            <div class="form-item">
              <label>Make:</label>
              <span>{{ meter.make }}</span>
            </div>
          {% endif %}
          {% if meter.model %}
            <div class="form-item">
              <label>Model:</label>
              <span>{{ meter.model }}</span>
            </div>
          {% endif %}
          {% if meter.serial_number %}
            <div class="form-item">
              <label>Serial #:</label>
              <span>{{ meter.serial_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_account_number %}
            <div class="form-item">
              <label>Provider acct. #:</label>
              <span>{{ meter.utility_account_number }}</span>
            </div>
          {% endif %}
          {% if meter.utility_meter_number %}
            <div class="form-item">
              <label>Provider meter #:</label>
              <span>{{ meter.utility_meter_number }}</span>
            </div>
          {% endif %}
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if meter.image_file %}
              <li>
                <a rel="images" href="{{ meter.image_file.url }}"><img src="{{ meter.image_file.url }}" /></a>
              </li>
            {% endif %}
            {% if meter.nameplate_file %}
              <li>
                <a rel="images" href="{{ meter.nameplate_file.url }}"><img src="{{ meter.nameplate_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if meter.emmeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Efficiency Measure</td>
                <td>Start Date</td>
                <td>Portion of Savings Assigned</td>
              </tr>
            {% for ema in meter.emmeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/measures/{{ ema.efficiency_measure.id }}">{{ ema.efficiency_measure.name }}</a></td>
                <td>{{ ema.efficiency_measure.when }}</td>
                <td>{{ ema.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if meter.buildingmeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Building Served</td>
                <td>Fraction of Meter Assigned</td>
              </tr>
            {% for bma in meter.buildingmeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/buildings/{{ bma.building.id }}">{{ bma.building.name }}</a></td>
                <td>{{ bma.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if meter.equipment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Equipment Served</td>
              </tr>
            {% for e in meter.equipment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if events %}
            {% for e in events %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-info -->
    <div class="tab tab-upload">
		<form enctype="multipart/form-data" class="entry" action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-item">
				{{ form.bill_data_file.errors }}
				{{ form.bill_data_file.label_tag }}
				{{ form.bill_data_file }}
			</div>
			<input type="submit" value="Upload Bill Data" />
		</form>
	</div> <!-- .tab-upload -->
    <div class="tab tab-monthly">
      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>
	  
	  {% if cost_by_month == 'false' %}
	    No cost data to display. <br>
	  {% endif %}
	  {% if consumption_by_month == 'false' %}
	    No consumption data to display. <br>
	  {% endif %}
	  {% if demand_by_month == 'false' %}
	    No demand data to display. <br>
	  {% endif %}

      <div id="cost-by-month"></div>
	  <script>
      addChart([
        'cost-by-month',
        'ComboChart',
        {{ cost_by_month|safe }},
        { // options
          title: 'Cost',
          vAxes: { 0: { title: 'USD' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
      <div id="consumption-by-month"></div>
      <script>
      addChart([
        'consumption-by-month',
        'ComboChart',
        {{ consumption_by_month|safe }},
        { // options
          title: 'Consumption',
          vAxes: { 0: { title: {{ consumption_units|safe }} } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <div id="demand-by-month"></div>
      <script>
      addChart([
        'demand-by-month',
        'ComboChart',
        {{ demand_by_month|safe }},
        { // options
          title: 'Peak Demand',
          vAxes: { 0: { title: {{ demand_units|safe }} } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
      <div id="kbtu-by-month"></div>
      <script>
      addChart([
        'kbtu-by-month',
        'ComboChart',
        {{ kbtu_by_month|safe }},
        { // options
          title: 'Consumption',
          vAxes: { 0: { title: 'kBtu' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <div id="kbtuh-by-month"></div>
      <script>
      addChart([
        'kbtuh-by-month',
        'ComboChart',
        {{ kbtuh_by_month|safe }},
        { // options
          title: 'Peak Demand',
          vAxes: { 0: { title: 'kBtu/h' } },
          seriesType: "bars",
          series:     {
            0: {type: "line", targetAxisIndex: 0, color: '#B88A00' },
            1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
            2: {type: "bar", targetAxisIndex: 0, color: '#4271FF' },
            3: {type: "bar", targetAxisIndex: 0, color: '#009425' },
            4: {type: "bar", targetAxisIndex: 0, color: '#00E038' },
          }
        },
		'ComboChart'
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	  Average Normalizations (over the time period selected above)
      <div id="useful-metrics"></div>
      <script>
      addChart([
        'useful-metrics',
        'Table',
        {{ useful_metrics_by_month|safe }},,
        { },
		'Table'
      ]);
      </script>
    </div> <!-- .tab-monthly -->
    <div class="tab tab-stats">
	  Consumption Model Statistics
      <div id="consumption_model_stats_table"></div>
      <script>
      addChart([
        'consumption_model_stats_table',
        'Table',
		{{ consumption_model_stats_table|safe }},        
		{ },
		'Table'
      ]);
      </script>

	  <div id="{{ meter.id }}-consumption-model-residuals-histogram" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-histogram',
		'ColumnChart',
		{{ consumption_model_residuals_histogram|safe }},
		{},
		'Histogram'
	  ]);
	  </script>
	  {% if consumption_model_indvar0 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table0" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table0',
		'ScatterChart',
		{{ consumption_model_residuals_table0|safe }},
		{hAxis: {title: {{ consumption_model_indvar0|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar1 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table1" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table1',
		'ScatterChart',
		{{ consumption_model_residuals_table1|safe }},
		{hAxis: {title: {{ consumption_model_indvar1|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar2 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table2" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table2',
		'ScatterChart',
		{{ consumption_model_residuals_table2|safe }},
		{hAxis: {title: {{ consumption_model_indvar2|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar3 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table3" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table3',
		'ScatterChart',
		{{ consumption_model_residuals_table3|safe }},
		{hAxis: {title: {{ consumption_model_indvar3|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar4 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table4" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table4',
		'ScatterChart',
		{{ consumption_model_residuals_table4|safe }},
		{hAxis: {title: {{ consumption_model_indvar4|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar5 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table5" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table5',
		'ScatterChart',
		{{ consumption_model_residuals_table5|safe }},
		{hAxis: {title: {{ consumption_model_indvar5|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar6 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table6" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table6',
		'ScatterChart',
		{{ consumption_model_residuals_table6|safe }},
		{hAxis: {title: {{ consumption_model_indvar6|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar7 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table7" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table7',
		'ScatterChart',
		{{ consumption_model_residuals_table7|safe }},
		{hAxis: {title: {{ consumption_model_indvar7|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar8 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table8" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table8',
		'ScatterChart',
		{{ consumption_model_residuals_table8|safe }},
		{hAxis: {title: {{ consumption_model_indvar8|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if consumption_model_indvar9 != '0'%}
	  <div id="{{ meter.id }}-consumption-model-residuals-table9" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-consumption-model-residuals-table9',
		'ScatterChart',
		{{ consumption_model_residuals_table9|safe }},
		{hAxis: {title: {{ consumption_model_indvar9|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  
	  
      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>
	  
	  
	  Peak Demand Model Statistics
      <div id="peak_demand_model_stats_table"></div>
      <script>
      addChart([
        'peak_demand_model_stats_table',
        'Table',
		{{ peak_demand_model_stats_table|safe }},
        { },
		'Table'
      ]);
      </script>
	  
	  <div id="{{ meter.id }}-peak-demand-model-residuals-histogram" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-histogram',
		'ColumnChart',
		{{ peak_demand_model_residuals_histogram|safe }},
		{},
		'Histogram'
	  ]);
	  </script>
	  {% if peak_demand_model_indvar0 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table0" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table0',
		'ScatterChart',
		{{ peak_demand_model_residuals_table0|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar0|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar1 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table1" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table1',
		'ScatterChart',
		{{ peak_demand_model_residuals_table1|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar1|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar2 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table2" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table2',
		'ScatterChart',
		{{ peak_demand_model_residuals_table2|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar2|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar3 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table3" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table3',
		'ScatterChart',
		{{ peak_demand_model_residuals_table3|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar3|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar4 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table4" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table4',
		'ScatterChart',
		{{ peak_demand_model_residuals_table4|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar4|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar5 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table5" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table5',
		'ScatterChart',
		{{ peak_demand_model_residuals_table5|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar5|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar6 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table6" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table6',
		'ScatterChart',
		{{ peak_demand_model_residuals_table6|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar6|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar7 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table7" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table7',
		'ScatterChart',
		{{ peak_demand_model_residuals_table7|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar7|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar8 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table8" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table8',
		'ScatterChart',
		{{ peak_demand_model_residuals_table8|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar8|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  {% if peak_demand_model_indvar9 != '0'%}
	  <div id="{{ meter.id }}-peak-demand-model-residuals-table9" style="display: inline-block; width: 49%;"></div>
	  <script>
	  addChart([
		'{{ meter.id }}-peak-demand-model-residuals-table9',
		'ScatterChart',
		{{ peak_demand_model_residuals_table9|safe }},
		{hAxis: {title: {{ peak_demand_model_indvar9|safe }} },
		 vAxis: {title: 'Residuals'},
		 legend: 'none',
		},
		'Scatter'
	  ]);
	  </script>
	  {% endif %}
	  
    </div> <!-- .tab-stats -->
    <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
        'model-details',
        'Table',
		{{ meter_attrs|safe }},
        { },
		'Table'
      ]);
      </script>

    </div> <!-- .tab-details -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table"]});
function drawChart(id, chartType, data, options, dtType) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  if (dtType == 'BarWithErrors')
    {
     var dataTable = new google.visualization.DataTable();
     dataTable.addColumn('string', 'Month'); // Implicit domain column.
     dataTable.addColumn('number', 'Sales'); // Implicit data column.
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'number', role:'interval'});
     dataTable.addColumn({type:'string', role:'annotation'});
     dataTable.addColumn({type:'string', role:'annotationText'});
	 dataTable.addColumn('number', 'Expenses');
     dataTable.addRows(data);
     }
  else
    {
	 var dataTable = google.visualization.arrayToDataTable(data);	 
	 }
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
    drawChart.apply(this, chart);
  }
}
google.setOnLoadCallback(drawAllCharts);
$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});
</script>
{% endblock %}
