{% extends 'app_base.html' %}
{% block body %}

<script>
var charts = [];
function addChart(arr) {
  charts.push(arr);
};
</script>

<header>
  <h1>{{ space.name }}</h1>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab"><a href="#tab-1">Info</a></li>
      <li class="nav-tab"><a href="#tab-2">Bars</a></li>
      <li class="nav-tab"><a href="#tab-3">Tables</a></li>
      <li class="nav-tab"><a href="#tab-4">Pies</a></li>
      <li class="nav-tab"><a href="#tab-5">5yr</a></li>
      <li class="nav-tab"><a href="#tab-6">Details</a></li>
    </ul> <!-- .nav-tabs -->

    <div class="tab tab-info">
      <div class="row">
        <div class="fivecol-three space-details">
          {% if space.building %}
            <div class="form-item">
              <label>Building:</label>
              <span>{{ space.building.name }}</span>
            </div>
          {% endif %}
          {% if space.square_footage %}
            <div class="form-item">
              <label>Floorspace (SF):</label>
              <span>{{ space.square_footage }}</span>
            </div>
          {% endif %}
          {% if space.space_type %}
            <div class="form-item">
              <label>Space Type:</label>
              <span>{{ space.space_type }}</span>
            </div>
          {% endif %}
        </div>
        <div class="fivecol-two last">
          <ul class="images">
            {% if space.image_file %}
              <li>
                <a rel="images" href="{{ space.image_file.url }}"><img src="{{ space.image_file.url }}" /></a>
              </li>
            {% endif %}
          </ul>
        </div> <!-- .fivecol-two -->
      </div> <!-- .row -->

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      {% if space_measures %}
        <table>
          <tbody>
              <tr>
                <td>Efficiency Measure</td>
                <td>Start Date</td>
              </tr>
            {% for sm in space_measures %}
              <tr>
                <td><a href="/{{ account.id }}/measures/{{ sm.id }}">{{ sm.name }}</a></td>
                <td>{{ sm.when }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if space.spacemeterapportionment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Meter</td>
                <td>Fuel Type</td>
                <td>Fraction of Meter Assigned</td>
              </tr>
            {% for sma in space.spacemeterapportionment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/meters/{{ sma.meter.id }}">{{ sma.meter.name }} - {{ sma.meter.utility_type }}</a></td>
                <td>{{ sma.meter.utility_type }}</td>
                <td>{{ sma.assigned_fraction }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      {% if space.equipment_set.all %}
        <table>
          <tbody>
              <tr>
                <td>Equipment</td>
              </tr>
            {% for e in space.equipment_set.all %}
              <tr>
                <td><a href="/{{ account.id }}/equipments/{{ e.id }}">{{ e.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="clear">
          <div class="woo-sc-hr"></div>
        </div>
      {% endif %}

      <p>Event Log:</p>
      <table>
        <tbody>
          {% if events %}
            {% for e in events %}
              <tr>
                <td>{{ e.when|date:"m/d/Y" }}</td>
                <td>{{ e.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No events.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

      <p>Alerts:</p>
      <table>
        <tbody>
          {% if alerts %}
            {% for a in alerts %}
              <tr>
                <td>{{ a.when|date:"m/d/Y" }}</td>
                <td>{{ a.subject }}</td>
                <td>{{ a.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No alerts.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      {% if adding_events_is_enabled %}
        <p>Add an event for this space:</p>
        <p>
          <input class="event-date datepicker" type="text" value="{% now "m/d/Y" %}" />
          <input class="event-description" type="text" placeholder="Click to enter event description" />
          <a href="#" class="woo-sc-button custom small">
            <span class="woo-bu">Add</span>
          </a>
        </p>
      {% endif %}
    </div> <!-- .tab-info -->
    <div class="tab tab-bars">
	  {% for utype, costu, consu, pdu, costd, consd, pdd, totals, ratios in meter_data %}
	  <div>{{ utype|safe }}</div>
	  
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost - dashboard">
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost - chart" style='width: 715px; height: 300px;'></div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cost - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cost - dashboard',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cost - chart',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cost - control',
        [['date','Month'],
		 ['number','Cost (baseline)'],
		 ['number','Cost (expected)'],
		 ['number','Cost Savings (expected)'],
		 ['number','Cost (actual)'],
		 ['number','Cost Savings (actual)']],
		{{ costd|safe }},
        '{{ costu|safe }}'
      ]);
      </script>

	  <div class="clear">
	    <br>
        <div class="woo-sc-hr"></div>
        </br>
	  </div>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cons - dashboard">
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cons - chart" style='width: 715px; height: 300px;'></div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - cons - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cons - dashboard',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cons - chart',
		'{{ utype|safe }} - {{ forloop.counter0 }} - cons - control',
        [['date','Month'],
		 ['number','Consumption (baseline)'],
		 ['number','Consumption (expected)'],
		 ['number','Consumption Savings (expected)'],
		 ['number','Consumption (actual)'],
		 ['number','Consumption Savings (actual)']],
	    {{ consd|safe }},
        '{{ consu|safe }}'
      ]);
      </script>

	  <div class="clear">
	    <br>
        <div class="woo-sc-hr"></div>
        </br>
	  </div>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - pd - dashboard">
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - pd - chart" style='width: 715px; height: 300px;'></div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - pd - control" style='width: 715px; height: 50px;'></div>
	  </div>
	  <script>
      addChart([
        'MonthlyColumn',
		'{{ utype|safe }} - {{ forloop.counter0 }} - pd - dashboard',
		'{{ utype|safe }} - {{ forloop.counter0 }} - pd - chart',
		'{{ utype|safe }} - {{ forloop.counter0 }} - pd - control',
        [['date','Month'],
		 ['number','Peak Demand (baseline)'],
		 ['number','Peak Demand (expected)'],
		 ['number','Peak Demand Savings (expected)'],
		 ['number','Peak Demand (actual)'],
		 ['number','Peak Demand Savings (actual)']],
		{{ pdd|safe }},
        '{{ pdu|safe }}'
      ]);
      </script>

	  <div class="clear">
	    <br>
        <div class="woo-sc-hr"></div>
        </br>
	  </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for bar charts.</div>
	  {% endfor %}
	  
    </div> <!-- .tab-bars -->
    <div class="tab tab-tables">

      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>

	  {% for utype, costu, consu, pdu, costd, consd, pdd, totals, ratios in meter_data %}
	  <div>{{ utype|safe }}</div>
	  
	  Totals (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - totals"></div>
      <script>
      addChart([
        'Table',
		'{{ utype|safe }} - {{ forloop.counter0 }} - totals',
        'Table',
        {{ totals|safe }},
        {}
      ]);
      </script>
	  
	  <div class="clear">
	    <br>
        <div class="woo-sc-hr"></div>
        </br>
	  </div>
	  
	  Ratios (over the period selected)
      <div id="{{ utype|safe }} - {{ forloop.counter0 }} - ratios"></div>
      <script>
      addChart([
        'Table',
		'{{ utype|safe }} - {{ forloop.counter0 }} - ratios',
        'Table',
        {{ ratios|safe }},
        {}
      ]);
      </script>
	  
	  <div class="clear">
	    <br>
        <div class="woo-sc-hr"></div>
        </br>
	  </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for tables.</div>
	  {% endfor %}

    </div> <!-- .tab-tables -->
    <div class="tab tab-pies">

      <p>
        <strong><u>Currently viewing:</u></strong>
        <input type="text" class="datepicker" />
        to
        <input type="text" class="datepicker" />
		<input type="submit" value="Refresh" />
		<input type="submit" value="Export" />
      </p>

	  {% for cost_by_meter, cost_by_type, kBtu_by_meter, kBtu_by_type, pies_by_meter in pie_data %}
	  <div id="{{ building.id }}-pies-by-meter - dashboard">
	  <div id="{{ building.id }}-pies-by-meter - control" style="float: left;"></div>
	  <div id="{{ building.id }}-pie-cost-by-meter - chart" style="display: inline-block; width: 40%;"></div>
	  <div id="{{ building.id }}-pie-kBtu-by-meter - chart" style="display: inline-block; width: 40%;"></div>
	  </div>
	  <script>
	  addChart([
		'TwoPiesControl',
		'{{ building.id }}-pies-by-meter - dashboard',
		'{{ building.id }}-pie-cost-by-meter - chart',
		'{{ building.id }}-pie-kBtu-by-meter - chart',
		'{{ building.id }}-pies-by-meter - control',
        [['string','Meter'],
		 ['number','Cost'],
		 ['number','kBtu'],
		 ['string','Utility Type']],
		{{ pies_by_meter|safe }},
		'Cost by Meter',
		'kBtu by Meter',
		[0,1],
		[0,2],
		3
	  ]);
	  </script>
	  <div id="{{ building.id }}-pie-cost-by-type - chart" style="display: inline-block; width: 30%;"></div>
	  <script>
	  addChart([
		'PieChart',
		'{{ building.id }}-pie-cost-by-type - chart',
		'PieChart',
		{{ cost_by_type|safe }},
		{
		  'width': 300,
		  'height': 300,
		  'legend': 'none',
		  'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
		  'pieSliceText': 'label',
		  'title': 'Cost by Utility Type'
		}
	  ]);
	  </script>
	  <div id="{{ building.id }}-pie-kBtu-by-type - chart" style="display: inline-block; width: 30%;"></div>
	  <script>
	  addChart([
		'PieChart',
		'{{ building.id }}-pie-kBtu-by-type - chart',
		'PieChart',
		{{ kBtu_by_type|safe }},
		{
		  'width': 300,
		  'height': 300,
		  'legend': 'none',
		  'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
		  'pieSliceText': 'label',
		  'title': 'kBtu by Utility Type'
		}
	  ]);
	  </script>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for pie charts.</div>
	  {% endfor %}

    </div> <!-- .tab-pies -->
    <div class="tab tab-5yr">
	  {% for utype, costu, consu, pdu, costd, costsfd, consd, conssfd in five_year_data %}
	  <div>{{ utype|safe }}</div>
	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cost"></div>
	  <script>
      addChart([
		'ColumnChart',
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cost',
        'ColumnChart',
        {{ costd|safe }},
        {
        title: '5-yr Costs',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ costu|safe }}' },
				 1: { title: 'Degree Days' }},
		},
		]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cost per SF"></div>
	  <script>
      addChart([
		'ColumnChart',
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cost per SF',
        'ColumnChart',
        {{ costsfd|safe }},
        {
        title: '5-yr Costs/SF',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ costu|safe }}/SF' },
				 1: { title: 'Degree Days' }},
		},
		]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cons"></div>
	  <script>
      addChart([
		'ColumnChart',
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cons',
        'ColumnChart',
        {{ consd|safe }},
        {
        title: '5-yr Consumption',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ consu|safe }}'  },
				 1: { title: 'Degree Days' }},
		},
      ]);
      </script>

	  <div id="{{ utype|safe }} - {{ forloop.counter0 }} - five year cons per SF"></div>
	  <script>
      addChart([
		'ColumnChart',
        '{{ utype|safe }} - {{ forloop.counter0 }} - five year cons per SF',
        'ColumnChart',
        {{ conssfd|safe }},
        {
        title: '5-yr Consumption/SF',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
		bar: { groupWidth: '75%' },
        isStacked: true,
		series:     {
			0: {type: "bar", targetAxisIndex: 0, color: '#B88A00' },
			1: {type: "bar", targetAxisIndex: 0, color: '#003DF5' },
			2: {type: "line", targetAxisIndex: 1, color: '#4271FF' },
			3: {type: "line", targetAxisIndex: 1, color: '#009425' },
            },
        vAxes: { 0: { title: '{{ consu|safe }}/SF'  },
				 1: { title: 'Degree Days' }},
		},
      ]);
      </script>

	  <div class="clear">
        <div class="woo-sc-hr"></div>
      </div>

	  {% empty %}
	    <div id="{{ forloop.counter0 }}">No meter data available for five year charts.</div>
	  {% endfor %}

	  </div> <!-- .tab-5yr -->
   <div class="tab tab-details">
      <div id="model-details"></div>
      <script>
      addChart([
		'Table',
        'model-details',
        'Table',
		{{ space_attrs|safe }},
        {},
      ]);
      </script>
    </div> <!-- .tab-details -->
  </div>
</section><!-- .entry -->

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart","table","controls","motionchart"]});
google.setOnLoadCallback(drawAllCharts);

function drawGeneric(chartDrawFunc, id, chartType, data, options) {
  if (!google || !google.visualization) return;
  var el        = document.getElementById(id);
  var dataTable = google.visualization.arrayToDataTable(data);	 
  var chart     = new google.visualization[chartType](el);
  chart.draw(dataTable, options);
}

function drawMonthlyColumn(chartDrawFunc, iddashboard, idchart, idcontrol, cols, data, vaxtitle) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var control = new google.visualization.ControlWrapper({
    'controlType': 'ChartRangeFilter',
    'containerId': idcontrol,
    'options': {
 	 // Filter by the date axis.
 	  'filterColumnIndex': 0,
 	  'ui': {
	    'chartType': 'ColumnChart',
	    'chartOptions': {
		  'chartArea': {'left': '15%', 'width': '85%'},
		  'hAxis': {'baselineColor': 'none'}
	    },
	    'chartView': {
		  'columns': [0, 1, 2, 3, 4, 5]
	    },
	    // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
	    'minRangeSize': 86400000
	  }
    },
    // Initial range:
    'state': {'range': {'start': new Date(data[data.length-13][0]),
						'end': new Date(data[data.length-1][0])
						}
			  }
  });

  var chart = new google.visualization.ChartWrapper({
    'chartType': 'ColumnChart',
    'containerId': idchart,
    'options': {
	  // Use the same chart area width as the control for axis alignment.
	  'chartArea': {'height': '80%', 'left': '15%', 'width': '85%'},
	  'hAxis': {'slantedText': false},
	  'vAxis': {'title': vaxtitle},
	  'legend': {'position': 'top'}
    },
    // Convert the first column from 'date' to 'string'.
    'view': {
	  'columns': [
	    {
		  'calc': function(dataTable, rowIndex) {
		    return dataTable.getFormattedValue(rowIndex, 0);
		  },
		  'type': 'string'
	    }, 1, 2, 3, 4, 5]
    }
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  for (var i = 0; i < data.length; i++) { 
		data[i][0] = new Date(data[i][0]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
  var formatter_months = new google.visualization.DateFormat({pattern: "MMM''yy"});
  var formatter_dollars = new google.visualization.NumberFormat(
		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
  formatter_months.format(dataTable, 0);
  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(control, chart);
  dashboard.draw(dataTable);
}

function drawPie(chartDrawFunc, iddashboard, idchart, idcontrol, cols, data, charttitle, viewcols, filtercol) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var categoryPicker = new google.visualization.ControlWrapper({
    'controlType': 'CategoryFilter',
    'containerId': idcontrol,
    'options': {
      'filterColumnIndex': filtercol,
      'ui': {
        'labelStacking': 'vertical',
        'allowTyping': false,
        'allowMultiple': false
      }
    }
  });

  var chart = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols}
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
//  var formatter_dollars = new google.visualization.NumberFormat(
//		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
//  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(categoryPicker, chart);
  dashboard.draw(dataTable);
}

function drawTwoPies(chartDrawFunc, iddashboard, idchart1, idchart2, idcontrol, cols, data, charttitle1, charttitle2, viewcols1, viewcols2, filtercol) {
  if (!google || !google.visualization) return;
  var eldashboard        = document.getElementById(iddashboard);
  var dashboard = new google.visualization.Dashboard(eldashboard);
  var categoryPicker = new google.visualization.ControlWrapper({
    'controlType': 'CategoryFilter',
    'containerId': idcontrol,
    'options': {
      'filterColumnIndex': filtercol,
      'ui': {
        'labelStacking': 'vertical',
        'allowTyping': false,
        'allowMultiple': false
      }
    }
  });

  var chart1 = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart1,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle1,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols1}
  });

    var chart2 = new google.visualization.ChartWrapper({
    'chartType': 'PieChart',
    'containerId': idchart2,
    'options': {
      'width': 300,
      'height': 300,
      'legend': 'none',
      'title': charttitle2,
      'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
      'pieSliceText': 'label'
    },
	'view': {'columns': viewcols2}
  });

  var dataTable = new google.visualization.DataTable();
  for (var i = 0; i < cols.length; i++) { 
		dataTable.addColumn(cols[i][0], cols[i][1]);
  }
  
  dataTable.addRows(data.slice(1,data.length));
  
  // Create formatters.
//  var formatter_dollars = new google.visualization.NumberFormat(
//		{prefix: '$', negativeColor: 'red', negativeParens: true});
  // Reformat our data.
//  formatter_dollars.format(dataTable, 1);
 
  dashboard.bind(categoryPicker, [chart1, chart2]);
  dashboard.draw(dataTable);
}

function drawAllCharts() {
  for (var i=0; i<charts.length; i++) {
    var chart = charts[i];
		if (chart[0] == 'Table')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'ComboChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'ColumnChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'PieChart')
			{drawGeneric.apply(this, chart);}
		else if (chart[0] == 'PieControl')
			{drawPie.apply(this, chart);}
		else if (chart[0] == 'TwoPiesControl')
			{drawTwoPies.apply(this, chart);}
		else if (chart[0] == 'MonthlyColumn')
			{drawMonthlyColumn.apply(this, chart);}
		else
			{}
  }
}

$(function() {
  $(window).resize($.debounce(250, drawAllCharts));
  $(document).on('tabsactivate', drawAllCharts);
});

// Set up lightbox
$(function() {
  $('.images a').fancybox();
});

</script>

{% endblock %}
