{% extends "app_base.html" %}

{% block body %}
<!--
<header>
  <h1>My User Account</h1>
</header>
-->

<form class="entry" action="/user-account" method="post">{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-item">
		{{ form.username.errors }}
		{{ form.username.label_tag }}
		<input type="text" value={{ form.username.value }}>
	</div>
	<div class="form-item">
		{{ form.email.errors }}
		{{ form.email.label_tag }}
		<input type="text" value={{ form.email.value }}>
	</div>
	<div class="form-item">
		{{ form.first_name.errors }}
		{{ form.first_name.label_tag }}
		<input type="text" value={{ form.first_name.value }}>
	</div>
	<div class="form-item">
		{{ form.last_name.errors }}
		{{ form.last_name.label_tag }}
		<input type="text" value={{ form.last_name.value }}>
	</div>
<input type="submit" value="Update" />
</form>

{% endblock %}
